---
import MainLayout from "../layouts/MainLayout.astro";
import Tab from "../components/Tab.astro";
import SideBarItem from "../components/SideBarItem.astro";
---

<MainLayout title="首页 | CodeArt.Online" route="/" sidebarTitle="首页">
    <Fragment slot="sidebar-item">
        <SideBarItem title="本站公告">
            <div class="py-10 flex flex-col items-center text-center">
                🚧网站建设中🚧<br/>
                敬请期待
            </div>
        </SideBarItem>
        <SideBarItem title="社交链接">
        </SideBarItem>
        <SideBarItem title="技术栈">
        </SideBarItem>
    </Fragment>
    <Fragment slot="tab">
        <Tab title="欢迎" icon="tabler:michelin-star-green">
        </Tab>
    </Fragment>
</MainLayout>
