---
import { Icon } from "astro-icon/components";

interface NavigationItem {
    id: number;
    title: string;
    link: string;
    icon: string;
    bottom?: boolean;
}

const navigationList: NavigationItem[] = [
    {
        id: 0,
        title: "首页",
        link: "/",
        icon: "tabler:home",
    },
    {
        id: 1,
        title: "标签",
        link: "/tag",
        icon: "tabler:tag",
    },
    {
        id: 2,
        title: "归档",
        link: "/archive",
        icon: "tabler:archive",
    },
    {
        id: 3,
        title: "时光轴",
        link: "/timeline",
        icon: "tabler:git-fork",
    },
    {
        id: -1,
        title: "设置",
        link: "/settings",
        icon: "tabler:settings",
        bottom: true,
    },
];

interface Props {
    route: string;
}

const { route } = Astro.props;
---

<div id="icon-bar" class="w-14 h-full flex flex-col items-center bg-iconbar-bg">
    {
        navigationList.map((item) => (
            <a
                class:list={[
                    "size-14 flex flex-col items-center justify-center hover:text-iconbar-icon-active",
                    {
                        "border-l-2 text-iconbar-icon-active":
                            item.link === route,
                        "text-iconbar-icon-inactive": item.link !== route,
                        "mt-auto": item.bottom === true,
                    },
                ]}
                title={item.title}
                href={item.link}
            >
                <Icon name={item.icon} size="30" />
                <span class="text-xs font-semibold">{item.title}</span>
            </a>
        ))
    }
</div>

<style>
    :global(#icon-bar path) {
        stroke-width: 1.5;
    }
</style>
